*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background-image: linear-gradient(to bottom, cyan -293px, pink 280px, white 625px);
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 15px; */
}
.container .heading{
  padding-top: 15px;
}
